*{
    font-family : Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(179, 148, 209);
}

main{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.205);
}

h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: rgb(255, 255, 255);
    
}

p1{
    background-color: rgba(230, 210, 210, 0.699);
}